[Sucklepaths]
#source1 = /the/remote/path
#destination1 = /the/destination/path
#source2 = /the/2nd/remote/path
#destination2 = /the/2nd/destination/path

[Local]
rsync = /usr/bin/rsync
rsync_flags = -aP
ssh = /usr/bin/ssh
ssh_flags = -C

[Remote]
find = /usr/bin/find
find_flags = ! -mmin -5 -print
;hostname = example.com
ssh_timeout = 5

[Logging]
filename = /var/log/sucklesync/sucklesync.log
pidfile = /var/run/sucklesync.pid
level = WARNING

[Email]
enabled = no
; Email addresses can optionally include a human readable name, just addresses,
; or a combination. For example:
; NAME ONE | ADDRESS1, NAME TWO | ADDRESS2, ADDRESS3
;to = User 1|user1@example.com, User 2|user2@example.com, user3@example.com
;from = SuckleSync|sucklesync@example.com
;smtp_hostname = example.com
;smtp_port = 587
; Supported smtp modes are: default, ssl, tls
;smtp_mode = tls
;smtp_username = username
;smtp_password = password
